<!DOCTYPE html>
<html>
<head>
  <title>Linc</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<header>
		<h1>Linc</h1>
	</header>
	
	<section id="content">
		<%= yield %>
	</section>
	
	<footer>
		<%= link_to "https://github.com/egrouse/linc", "https://github.com/egrouse/linc", :target => "_blank" %>
	</footer>

</body>
</html>
